<head>
  <% if @createhistorique.errors.any? %>
    <div id='error_explanation'>
      <h2>
        <%= pluralize(@createhistorique.errors.count, 'error') %> prohibited this article
        from being saved:
      </h2>
      <ul>
        <% @createhistorique.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</head>
<body>
  <h5>Réservation</h5>
	<%= form_for @createhistorique do |f| %>
    <%= f.label :date_debut %>
    <%= f.date_field :date_debut , :id => "datepicker" %><br />

    Durée (en mois) :
    <%= number_field_tag :duree %>
    ( <%= @maxduration.maxduration %> mois )<br />

    <%= f.submit "Réserver" %>
  <% end %>
</body>
