<head>
	<title>Accueil - Admin</title>
</head>

<body>
  <div id="user">
    <p><%= link_to current_utilisateur, edit_utilisateur_path(current_utilisateur) %></p>

    <%= link_to 'Déconnexion', destroy_utilisateur_session_path, class: "mv-item-deconnect", method: :delete %>
  </div>
  <div id="logo"> 
        <!-- pour le logo -->
  </div> 

  <div id="wrapedit">
    <div id="leftTop">
      <% if @choix == 0 %>
        <%= link_to 'Réserver une place de parking', new_historique_path %>
      <% end %>
      <% if @choix == 1 %>
        <%= render 'positionlisteattente' %>
      <% end %>
      <% if @choix == 2 %>
        <%= render 'placeparkingactuelle' %>
      <% end %>
    </div>

    <div id="leftMid">
      <p>
        <% if @historique.present? %>
          <table>
            <caption><h2 class="title">Historique de la place</h2></caption>
            <thead>
	          <tr>
	            <th>Date début</th> 
	            <th>Date fin</th> 
	            <th>Place de parking</th>
	          </tr>
      	     </thead> 
            <tbody>
              <% @historique.each do |h| %>
                <tr>
	                <td><%= h.date_debut %></td>
	                <td><%= h.date_fin %></td> 
	                <td><%= h.placeparking.libel %></td>
	              </tr>
	            <% end %>
    	      </tbody>
          </table>
        <% else %>
          Votre historique est vide ...
        <% end %>
      </p>
    </div>
  </div> 
</body>
