<head>
  <script>
    $(document).ready(function() {
         return $("#datepicker").datepicker();
      }); 
  </script>

  <% if @historique.errors.any? %>
    <div id='error_explanation'>
      <h2>
        <%= pluralize(@historique.errors.count, 'error') %> prohibited this article
        from being saved:
      </h2>
      <ul>
        <% @historique.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</head>
<body>
  <p>Réserver une place</p>
  <%= form_for @historique do |f| %>
    <%= f.label :date_debut %>
    <%= f.datetime_field :date_debut , id: "datepicker", placeholder: Date.today %><br />

    Durée (en mois) :
    <%= number_field_tag :duree, nil, :within => 1...@maxduration.maxduration+1 %>
    ( <%= @maxduration.maxduration %> mois maximum)<br />

    <%= f.submit "Réserver", url: utilisateurs_path %>
  <% end %>
</body>