<html lang="fr-FR"> 
	<head>
		<meta charset="utf-8">
		<meta name="description" content="Page d'accueil du Parking M2L"> 

		<title>Accueil - Admin</title>
	</head>

	<body>
  <div id="user">
    <p>Admin</p> 
    <%= link_to 'Panneau utilisateur', utilisateurs_path %>
  </div>
  <div id="wrapedit">
    <div id="leftTop">
      <p>
        <%= render 'listeattente' %>
      </p>
    </div>

    <div id="leftMid">
      <p>
        <%= render 'utilisateur' %>
      </p>
    </div>
       
    <div id="rightTop"> 
      <p>
        <%= render 'placeparking' %>
      </p>
    </div>

    <div id="rightMid">
      <p>
        <%= render 'duration' %>
      </p>   
    </div>
  </div>
</html>